extends layouts/app.jade

block title
  title Cebu, Philippines

block vars  
  -var bodyClass = 'location-page'

block main
  section.location-page-top.space.space-header.pb-0
    .pic-gallery.position-relative
      each val, index in ['cebu-1','cebu-2','cebu-3','cebu-4','cebu-5']
        .item(style="background: url(dist/images/"+val+".jpg)")
    .container
      .content-wraper
        .section-heading.p-0.d-flex.flex-column.justify-content-center
          h2 Cebu, Philippines
          h4.border-before.d-flex.align-items-center Highly-Rated Hair Transplantation Clinic(mising)
          blockquote 
            p.m-0 Hair Transplants, Fut, Fue, Smp, Microneedling Facial Hair Transplants, Eyebrow, Mustache, Beard Hair Transplant Serves Cebu, Davao, Visayas, Mindanao & Southern Philippines.
        .map.align-self-center
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15700.174756479222!2d123.9541047!3d10.3383889!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x608144e423910a05!2sMaayo%20Medical%20Clinic!5e0!3m2!1sbn!2sbd!4v1578674013682!5m2!1sbn!2sbd" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          .address-wraper.align-items-center
            .address.text-lg-left.text-center
              .title MAAYO Medical, Third Floor North Park, U.N. Avenue, Corner Plaridel St., Barangay Alang-alang, Mandaue City Cebu Philippines
              a(href="https://www.google.com/maps/place/Maayo+Medical+Clinic/@10.3383889,123.9541047,15z/data=!4m5!3m4!1s0x0:0x608144e423910a05!8m2!3d10.3383889!4d123.9541047" style="text-decoration: underline;" target="_blank") Get directions
            .contact.text-lg-right.text-center
              .title Contact No.
              a(href="tel:+639951598316") +63995-1598316
      .row
        include sections/video-carosual.jade    
  section.meet_our_team.space
    .container
      .items-wraper
        .section-heading.p-0.d-flex.flex-column.justify-content-center
          h4.border-before.d-flex.align-items-center Our Doctors
          h2 Meet Our Team
          p.mb-0 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        .item
          .img
            img.w-100(src="dist/images/Dr_Ocampo.jpg" alt="")
          .text.d-flex.flex-column.justify-content-center.align-items-center
            a.title(href="#") Dr. Ocampo
            p Plastic surgeon. Performs FUE   
  include sections/services.jade 
  section.technicians             
    .container.container-custom
      .technicians-wraper
        .img.d-flex.align-items-center.justify-content-end(style="margin-top: 2.8125em;")
          .img-shadow
            img.position-relative(src="dist/images/technicians.png" alt="")
        .content
          h3 Technicians
          ul.p-0.m-0.list-unstyled
            each val, index in ['5+ years ave. experience', 'FUT+FUE Experienced', 'Skilled Hair Nurses']
              li
                <i class="fal fa-check-circle"></i>
                span= val  
  section.pricing.space
    .container.container-custom
      .section-heading.text-center.medium
        h3 Lorem ipsum
        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
      .pricing-content-area
        .item
          .title.d-flex.align-items-center
            img(src="dist/images/icon-price.png" alt="")
            span Pricing
          ul
            each val, index in ['Starts at Php. 30K for non-surgical and Php. 80K for surgical','No hidden fee','No gimmicks','All inclusive','Accept Cash, Credit Cards + Certified Check']
              li
                span= val  
        .item
          .title.d-flex.align-items-center
            img(src="dist/images/icon-finance.png" alt="")
            span Financing
          ul  
            each val, index in ['Cash','Major Credit Cards','Certified Checks','Wire Transfers','Bank financing directly through bank.']
              li
                span= val  
        .item
          .title.d-flex.align-items-center
            img(src="dist/images/icon-map.png" alt="")
            span Areas Served
          ul  
            each val, index in ['Cebu','Davao','Mindanao','Zamboanga','Visayas region','Philippines']
              li
                span= val                 
  section.technicians             
    .container.container-custom
      .technicians-wraper.right
        .content
          h3 Why Maxim?
          ul.p-0.m-0.list-unstyled 
            each val, index in ['Est. 15 yrs. In Phils.','Plastic Surgeons.','MEGA Sessions to 4K Grafts Outstanding Reviews.','Great Location','We specialize in hair','Affordable Prices','State-of-the-art modern facility']
              li
                <i class="fal fa-check-circle"></i>
                span= val  
        .img.d-flex.align-items-center.justify-content-end
          .img-shadow
            img.position-relative(src="dist/images/card.png" alt="")

  include sections/review.jade
  include sections/faq.jade