extends layouts/app.jade

block title
  title Follicular Unit Extraction (FUE) 

block vars  
  -var bodyClass = 'service-page'

block main
  section.overflow-x-hidden.location-page-top.space.space-header.pb-0.page-top.service-page-top
    .container
      .content-wraper
        .section-heading.p-0.d-flex.flex-column.justify-content-center
          h2 Follicular Unit Extraction (FUE) 
          h4.border-before.d-flex.align-items-center.border-bottom.mb-0.pb-4.mb-4  Mega Sessions up to 4,000 grafts.(missing)
          blockquote.mt-2.mb-4 
            p(style="color: #000") 
              | Also known as the No Linear Scar hair transplant method. Less discomfort and rapid recovery.
          .details.mt-2
            .row
              .col-md-12.item
                .img
                  img(src="dist/images/iprice-1.png" alt="")
                span.title Price
                span Higher than FUT since more detailed and longer than FUT
              .col-md-12.item
                .img
                  img(src="dist/images/itime-2.png" alt="")
                span.title Duration
                span Procedure takes 6 to 8 hours.
              .col-md-12.item.mb-0
                .img
                  img(src="dist/images/ian-3.png" alt="")  
                span.title Anesthesia
                span Local anesthesia Watch TV or take a nap.
        .banner-big-img
          img.h-intial(src="dist/images/service-banner.png" alt="")
      .row
        include sections/video-carosual.jade         
  section.overflow-x-hidden.advantage.advantage-bg.advantage-main
    .container-custom.container
      .content-wraper
        .content.align-self-center
          .section-heading.medium.m-0.p-0.mxw-100
            h3 Advantages
            p.mt-1 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy dolore magna
          ul.p-0.m-0.list-unstyled.list-red.pt-3
            each val, index in ['The advantage of this technique is that there is no horizontal scar on the back of the head and there are no sutures. The recovery process is faster and there is minimal discomfort.  You can return to normal daily activity the next day.']
              blockquote.mt-2
                p.m-0= val
        .img.position-relative.d-flex.align-items-center
          img.h-intial(src="dist/images/advantage.png" alt="")  
  section.overflow-x-hidden.price-section.overflow-hidden
    .container.container-custom
      .content-wraper
        .img
          picture
            source.h-intial(media='(min-width: 576px)' srcset='dist/images/price.png')
            img.h-intial(src='dist/images/price-mobile.png')
        .content.align-self-center.d-flex.flex-column.justify-content-center
          .section-heading.medium.m-0.p-0(style="max-width:415px")
            h3 Price
            p.mt-1 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy dolore magna
          ul.p-0.m-0.list-unstyled.list-red
            each val, index in ['Higher than FUT since more detailed and longer than FUT']
              li
                <i class="fal fa-check-circle"></i>
                span= val
  section.overflow-x-hidden.advantage.post-op.advantage-bg
    .container-custom.container
      .content-wraper
        .content.align-self-center
          .section-heading.medium.m-0.p-0.mxw-100
            h3 Pre/Post-OP
            p.mt-1 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy dolore magna
          ul.p-0.m-0.list-unstyled.list-red
            each val, index in ['No alcohol for 3 days prior','No blood thinners/Aspirin','We provide written pre and post-op instructions','You can cover your head with a cap','Most strenuous activities are not permitted','The transplanted hair generally falls off after a few weeks and will re-grow after four months','You should begin to see results within six months of your FUE procedure','Fuller density is seen after nine months and can take up to a year.']
              li
                <i class="fal fa-check-circle"></i>
                span= val
        .img.position-relative.d-flex.align-items-center
          img.h-intial(src="dist/images/operation.png" alt="")              
  section.overflow-x-hidden.price-section.overflow-hidden
    .container.container-custom
      .content-wraper.img-right
        .content.align-self-center.d-flex.flex-column.justify-content-center.pr-5
          .section-heading.medium.m-0.p-0(style="max-width:100%")
            h3.pb-4 Technique
            ul.p-0.m-0.list-unstyled.list-red
              each val, index in ['One graft or Follicular Unit Transplanted at a Time','Perform FUE under local anesthesia','You can watch television, speak with the staff, or chat on the phone during your procedure','You may also take a nap during your FUE procedure.']
                li
                  <i class="fal fa-check-circle"></i>
                  span= val
        .img
          picture
            source.h-intial(media='(min-width: 576px)' srcset='dist/images/lab.png')
            img.h-intial(src="dist/images/lab-mobile.png" alt="")
  section.overflow-x-hidden.advantage.advantage-bg.why-maxim
    .container-custom.container
      .content-wraper.img-left
        .img.position-relative.text-right
          img.position-relative.h-intial(src="dist/images/why-maxim.png" alt="") 
        .content.align-self-center
          .section-heading.medium.m-0.p-0.mxw-100
            h3 Why Maxim?
            p.mt-1 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy dolore magna
          ul.p-0.m-0.list-unstyled.list-red.pt-3
            each val, index in ['Multiple technologies to perform the procedure.','Our doctors are surgeons','0% Financing+Affordable','Super-specialized in Hair']
              li
                <i class="fal fa-check-circle"></i>
                span= val

  include sections/faq.jade  