extends layouts/app.jade

block title
  title Microneedling

block vars  
  -var bodyClass = 'service-page'

block main
  section.overflow-x-hidden.location-page-top.space.space-header.pb-0.page-top.service-page-top
    .container
      .content-wraper
        .section-heading.p-0.d-flex.flex-column.justify-content-center
          h2 Microneedling
          h4.border-before.d-flex.align-items-center.border-bottom.mb-0.pb-4.mb-4  Mega Sessions up to 4,000 grafts.(missing)
          blockquote.mt-2.mb-4 
            p(style="color: #000") 
              | Minimally invasive procedure. Improves blood flow to the scalp. Can be combined with and hair transplant.
          .details.mt-2
            .row
              .col-md-12.item
                .img
                  img(src="dist/images/iprice-1.png" alt="")
                span.title Price
                span Affordable and 0% financing available in the US
              .col-md-12.item
                .img
                  img(src="dist/images/itime-2.png" alt="")
                span.title Duration
                span Each session takes approx 30 mins. To an hour.
              .col-md-12.item.mb-0
                .img
                  img(src="dist/images/ian-3.png" alt="")  
                span.title Anesthesia
                span Topical anesthesia is used
        .banner-big-img
          img.h-intial(src="dist/images/service-banner.png" alt="")
      .row
        include sections/video-carosual.jade         
  section.overflow-x-hidden.advantage.advantage-bg.advantage-main
    .container-custom.container
      .content-wraper
        .content.align-self-center
          .section-heading.medium.m-0.p-0.mxw-100
            h3 Advantages
            p.mt-1 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy dolore magna
          ul.p-0.m-0.list-unstyled.list-red
            each val, index in ['missing']
              li
                <i class="fal fa-check-circle"></i>
                span= val
        .img.position-relative.d-flex.align-items-center
          img.h-intial(src="dist/images/advantage.png" alt="")  
  section.overflow-x-hidden.price-section.overflow-hidden
    .container.container-custom
      .content-wraper
        .img
          picture
            source.h-intial(media='(min-width: 576px)' srcset='dist/images/price.png')
            img.h-intial(src='dist/images/price-mobile.png')
        .content.align-self-center.d-flex.flex-column.justify-content-center
          .section-heading.medium.m-0.p-0(style="max-width:415px")
            h3 Price
            p.mt-1 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy dolore magna
          ul.p-0.m-0.list-unstyled.list-red
            each val, index in ['Affordable and 0% financing available in the US','Varies depending upon size of scalp to be treated, condition and other factors.']
              li
                <i class="fal fa-check-circle"></i>
                span= val
  section.overflow-x-hidden.advantage.post-op.advantage-bg
    .container-custom.container
      .content-wraper
        .content.align-self-center
          .section-heading.medium.m-0.p-0.mxw-100
            h3 Pre/Post-OP
            p.mt-1 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy dolore magna
          ul.p-0.m-0.list-unstyled.list-red
            each val, index in ['Minimal preparation and follow-up.','Written instructions provided.','There may be some redness or bruising following treatment.']
              li
                <i class="fal fa-check-circle"></i>
                span= val
        .img.position-relative.d-flex.align-items-center
          img.h-intial(src="dist/images/operation.png" alt="")              
  section.overflow-x-hidden.price-section.overflow-hidden
    .container.container-custom
      .content-wraper.img-right
        .content.align-self-center.d-flex.flex-column.justify-content-center.pr-5
          .section-heading.medium.m-0.p-0(style="max-width:100%")
            h3.pb-4 Technique
            ul.p-0.m-0.list-unstyled.list-red
              each val, index in ['Apply topical anesthetic.','Roller device with 0.25-3 mm needles is used on the scalp.','Needles extend to the middle layer of the skin.','Soothing balm or serum applied after treatment.']
                li
                  <i class="fal fa-check-circle"></i>
                  span= val
        .img
          picture
            source.h-intial(media='(min-width: 576px)' srcset='dist/images/lab.png')
            img.h-intial(src="dist/images/lab-mobile.png" alt="")
  section.overflow-x-hidden.advantage.advantage-bg.why-maxim
    .container-custom.container
      .content-wraper.img-left
        .img.position-relative.text-right.d-flex.align-items-center.justify-content-end
          img.position-relative.h-intial(src="dist/images/why-maxim.png" alt="") 
        .content.align-self-center
          .section-heading.medium.m-0.p-0.mxw-100
            h3 Why Maxim?
            p.mt-1 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy dolore magna
          ul.p-0.m-0.list-unstyled.list-red.pt-3
            each val, index in ['Medical setting.','Performed by a clinician.','Hair is All We Do.','0% Financing+Affordable']
              li
                <i class="fal fa-check-circle"></i>
                span= val
  include sections/faq.jade  