extends layouts/app.jade

block title
  title New Jersey Hair Transplant Specialists

block vars  
  -var bodyClass = 'location-page'

block main
  section.location-page-top.space.space-header.pb-0
    .pic-gallery.position-relative
      each val, index in ['new-jersey','new-jersey','new-jersey']
        .item(style="background: url(dist/images/"+val+".jpg)")
    .container
      .content-wraper
        .section-heading.p-0.d-flex.flex-column.justify-content-center
          h2 New Jersey Hair Transplant Specialists
          h4.border-before.d-flex.align-items-center Surgical & Non-Surgical Hair Loss Solutions
          blockquote 
            p.m-0 Hair Transplants, Fut, Fue, Smp, Microneedling Facial Hair Transplants, Eyebrow, Mustache, Beard Hair Transplant. Serves Bergen County, Patterson, Fort Lee, Paramus, Northern New Jersey, Central Jersey & South Jersey.
        .map.align-self-center
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12057.141935402211!2d-74.073841!3d40.93141!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x51b15f38c83e6159!2sNew%20Century%20Spine%20and%20Outpatient%20Surgical%20Institute!5e0!3m2!1sbn!2sbd!4v1578669614558!5m2!1sbn!2sbd" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          .address-wraper.align-items-center
            .address.text-lg-left.text-center
              .title New Century Surgery Center 37 West Century Road, Paramus, NJ 07652
              a(href="https://www.google.com/maps/place/New+Century+Spine+and+Outpatient+Surgical+Institute/@40.93141,-74.073841,15z/data=!4m5!3m4!1s0x0:0x51b15f38c83e6159!8m2!3d40.93141!4d-74.073841" style="text-decoration: underline;" target="_blank") Get directions
            .contact.text-lg-right.text-center
              .title Contact No.
              a(href="tel:2019172400") (201) 917-2400
      .row
        include sections/video-carosual.jade    
  section.meet_our_team.space
    .container
      .items-wraper
        .section-heading.p-0.d-flex.flex-column.justify-content-center
          h4.border-before.d-flex.align-items-center Our Doctors
          h2 Meet Our Team
          p.mb-0 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        .item
          .img
            img.w-100(src="dist/images/doctor-1.png" alt="")
          .text.d-flex.flex-column.justify-content-center.align-items-center
            a.title(href="#") Dr. Doshi
            p Plastic surgeon. Performs FUE
        .item
          .img
            img.w-100(src="dist/images/pic-dr-barnard.jpg" alt="")
          .text.d-flex.flex-column.justify-content-center.align-items-center
            a.title(href="#") Dr. Barnard 
            p Performs hair transplants
  include sections/services.jade 
  section.technicians             
    .container.container-custom
      .technicians-wraper
        .img.d-flex.align-items-center.justify-content-end(style="margin-top: 2.8125em;")
          .img-shadow
            img.position-relative(src="dist/images/technicians.png" alt="")
        .content
          h3 Technicians
          ul.p-0.m-0.list-unstyled
            each val, index in ['Former Bosley Techs 8+ years ave. experience', 'FUT+FUE Experienced','Outstanding SMP Techs Done by Surgeon']
              li
                <i class="fal fa-check-circle"></i>
                span= val  
  section.pricing.space
    .container.container-custom
      .section-heading.text-center.medium
        h3 Lorem ipsum
        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
      .pricing-content-area
        .item
          .title.d-flex.align-items-center
            img(src="dist/images/icon-price.png" alt="")
            span Pricing
          ul
            each val, index in ['FUT starting at $3.50 per graft', 'FUE starting at $4.50 per graft','Min. Price FUT/FUE $6,000', 'No hidden fee','0% Financing','No gimmicks','Cashier’s Check + Financing','All inclusive','Accept Cash, Credit Cards']
              li
                span= val  
        .item
          .title.d-flex.align-items-center
            img(src="dist/images/icon-finance.png" alt="")
            span Financing
          ul  
            each val, index in ['0% Financing if qualified', 'Care Credit', 'Lending Club','Green Sky Credit','Alphaeon (in process)','United Medical Credit']
              li
                span= val  
        .item
          .title.d-flex.align-items-center
            img(src="dist/images/icon-map.png" alt="")
            span Areas Served
          ul  
            each val, index in ['Paramus','Bergen County','Clifton','Wayne','Patterson','Northern New Jersey','Central New Jersey','South Jersey']
              li
                span= val                 
  section.technicians             
    .container.container-custom
      .technicians-wraper.right
        .content
          h3 Why Maxim?
          ul.p-0.m-0.list-unstyled 
            each val, index in ['Board Certified Facial Plastic Surgeon.','MEGA Sessions to 4K Grafts Outstanding Reviews.','MAXIM is BBB Accredited.','Fully licensed in Paramus.','One Client at a Time.','Convenient location','Affordable Prices','0% Financing']
              li
                <i class="fal fa-check-circle"></i>
                span= val  
        .img.d-flex.align-items-center.justify-content-end
          .img-shadow
            img.position-relative(src="dist/images/card.png" alt="")

  include sections/review.jade
  include sections/faq.jade