footer.main-footer.space
  .container
    .widget-area
      .widget.widget-1
        h3 Contact Us
        ul
          each val, index in ['USA : (802) 370-3227', 'DUBAI : 971 52 718-1555', 'TURKEY : (802) 278-5098','PHILIPPINES : +63 2 818 6000']
            li
              a(href="#")= val
        #footer-social.d-flex
          a(href="#") 
            <i class="fab fa-instagram"></i>    
          a(href="#")
            <i class="fab fa-facebook-f"></i>
          a(href="#")
            <i class="fab fa-linkedin-in"></i>
          a.mr-0(href="#")
            <i class="fab fa-twitter"></i>       
      .widget
        h3 locations
        ul
          each val, index in ['NEW YORK', 'GREAT NECK', 'HAUPPAUGE','WHITE PLAINS','More']
            li
              a(href="#")= val        
      .widget
        h3 doctors
        ul
          each val, index in ['DR. DOSHI', 'DR. MAYER', 'DR. GAMEZ','DR. GAMEZ','More']
            li
              a(href="#")= val 
      .widget
        h3 services
        ul
          each val, index in ['HAIR TRANSPLANT', 'NON-SURGICAL', 'STEM CELLS','FACIAL HAIR']
            li
              a(href="#")= val 
      .widget
        h3 Support
        ul
          each val, index in ['CONTACT US', 'FAQ', 'Blog','VIDEOS']
            li
              a(href="#")= val                         
  .container
    .footer-menu-area
      .footer-logo.text-center.text-md-left
        img.mr-lg-3(src="dist/images/footer-logo.png" alt="")    
        span.pl-lg-3.d-block.d-lg-inline-block.mt-2.mt-lg-0 © 2019 Maxim. All rights reserved.
      ul.footer-menu.d-flex.flex-wrap.justify-content-md-end.align-content-center.justify-content-center
        each val, index in ['Privacy', 'Security', 'Terms & Conditions']
          li
            a(href="#")= val
    .copyright
      | MAXIM is a management and marketing services company and that all medical care is rendered by physicians affiliated with MAXIM. Maxim Hair Restoration, LLC makes on-line access to its resources available for informational purposes. This website and its searchable databases are offered for educational and informational purposes only, and should not be construed as nor used as a substitute for professional healthcare advice. The staff of Maxim Hair Restoration, LLC may assist with your use of Maxim’s website but do not provide medical advice, care, treatment, or services, or engage in the practice of medicine in any way. Their assistance should not be construed as medical advice nor relied upon for diagnosis or treatment. No physician-patient relationship is created by use of this website, use of its searchable databases, or assistance of Maxim personnel with such uses. Maxim does not make any representation, warranty, or claim that the information it makes available is accurate or the most current information. The resources are provided “as-is”. Maxim will not be held responsible or liable for any errors, inaccuracies, or omissions to resource content, nor for complications, injuries, damages, or accidents arising from the use of Maxim’s resources or procedures identified in the website.        
